body{
    color: orangered;
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(23, 214, 33);
}
.seletorClasse{
    margin: inherit;
    background-color: aliceblue;
    padding: 15px;
    font-size: 1em;
}
#seletorId{
    background-color: gold;
    font-style: oblique;
    font-size: 18pt;
    color: black;
}